// =============================================================================
// _colors.scss : Colors for Project
// MIT License
// =============================================================================

// =============================================================================
// _colors.scss settings
// =============================================================================

//Palette Black
$black-primary-color: black;
$black-secondary-color: white;
$black-third-color: rgb(90, 90, 90);
$black-transparent-color: rgba(255, 255, 255, 0.5);

//Palette Orange
$orange-primary-color: orange;
$orange-secondary-color: rgb(252, 151, 18);
$orange-third-color: rgb(204, 42, 1);
$orange-fourth-color:rgb(153, 152, 152);


